#siderbar {
    position: fixed;
    top: 56px;
    /* Altura del header */
    left: 0;
    width: 250px;
    height: 100%;
    overflow-y: auto;
}

@media (max-width: 992px) {
    #siderbar {
        width: 100%;
        position: relative;
    }
}

.nav-link.active {
    color: violet;
    font-weight: bold;
}

.nav-link i {
    margin-right: 8px;
}